<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/head::common_header(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>用户信息</title>
</head>
<body>
<div th:replace="public/common::common_js(~{::script})">
    <script type="text/javascript" th:src="@{/js/user/user.js}"></script>
</div>
<p>用户信息</p>
<div>
    <form>
        <label>username</label><input id="username">
        <br>
        <label>password</label><input id="password" type="password">
    </form>
</div>
<button id="addBtn" type="button" class="btn btn-primary" onclick="addUser()">addUser</button>
<button id="listBtn" type="button" class="btn btn-primary" onclick="listUser()">listUser</button>
</body>
</html>